.navbar {
    background-color: white;
    border: 2px solid black;
    border-top: transparent;
    border-radius: 0;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    font-weight: bold;
    min-height: 40px;
}

.navlink, .navlink:hover {
    color: rgb(19, 59, 111);
    font-weight: bold;
    padding: 0px;
}

.right {
    float: right;
    color: black;
    font-weight: normal;
}

body {
    background-image: url("../static/hb.png");
    margin: 0px;
    padding: 0px;
}

label {
    font-weight: normal;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar, .main {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 2px solid black;
    background-color: white;
    padding-bottom: 15px;
}

.sidebar {
    flex-grow: 1;
    min-width: 220px;
}

.main {
    flex-grow: 5;
    min-width: 350px;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
}

.content2 {
    padding-left: 30px;;
}

.center-h {
    margin-bottom: 20px;
    align-content: center;
    text-align: center;
}

.date-nav, .date-nav:hover {
    color: black;
}

.habits {
    padding-left: 50px;
    font-weight: normal;
}

.completed-habits {
    opacity: 40%;
}

.completed {
    text-decoration: line-through;
}

.btn, .btn:hover, .btn:active {
    background-color: rgb(144, 57, 238);
    border: 2px solid black;
    padding: 5px;
    width: 100px;
    color: white;
    border-radius: 0;
}

.delete-button, .delete-button:hover {
    font-weight: bold;
    color: black;
}

.calendar-display {
    margin: 5px;
}

th {
    text-align: center;
}

th.month {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 50%;
    margin: 5px auto;
    text-align: center;
}

.month {
    text-align: center;
}

td {
    padding: 5px;
}

.today {
    font-weight: bold;
    color: green;
    padding-left: 3px;
    padding-right: 3px;
    margin: 2px;
    border: 1px solid;
}

#calDate, .calDate, a:link {
    color: black;
}

#onDate {
    font-weight: bold;
    color: rgb(97, 8, 153);
    padding-left: 3px;
    padding-right: 3px;
    border: 1px dotted;
}

.mon {
    color: black;
}

.button-display {
    align-self: center;
}

.sidebar-button {
    width: 150px;
    height: 50px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 0;
}

#datepicker, #datepicker-submit {
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    width: 150px;
    border: 1px solid black;
    border-radius: 0;
    text-align: center;
}

.options {
    /* background-color: #777; */
    /* color: white; */
    /* cursor: pointer; */
    /* padding: 18px; */
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    /* color: red; */
    /* font-size: 15px; */
  }
  
  .active, .options:hover {
    /* background-color: #555; */
    color: black;
  }

  .advanced-options {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    color: red;
  }

.habit-table {
    margin-left: auto;
    margin-right: auto;
    min-width: 450px;
    text-align: center;
}

.hb {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

th.hb, td.hb {
    border: 1px solid black;
}

/* / */

th.hb {
    background-color: rgb(237, 241, 241);
}

tr.hb {
    background-color: #b4d2da;
}

tr.hb:nth-child(odd) {
    background-color: rgb(187, 231, 231);   
}

.error {
    color: red;
    
}
