<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<html>
    <head>
        <title>{{ title }}</title>
        <div class="navbar">
            <a href="/">HOME</a><br>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
    </head>

    <body>
        <div class="container">
            <div class="main">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock %}
            </div>
            <div class="sidebar">

            </div>
        </div>
    </body>
</html>
