<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<html>
    <head>
        <title>{{ title }}</title>
        <div class="navbar">
            <a href="/">HOME</a><br>
            <a href="/login">Login</a>
        </div>
    </head>

    <body>
        <div class="container">
            <div class="main">
                {% block content %}
                {% endblock %}
            </div>
            <div class="sidebar">

            </div>
        </div>
    </body>
</html>
