{% block head %}
<head>
    <title>{{ title }}</title>
    <div class="navbar">
        <a class="navlink" href="/">Home</a>
        &nbsp;|&nbsp;
        <a class="navlink" href="">Sample Data</a>
        &nbsp;|&nbsp;
        <a class="navlink" href="">FAQs</a>
        <div class="right">
        {% if current_user.is_anonymous %}
        <a class="navlink" href="{{ url_for('login') }}">Login</a>
        {% else %}
        Logged in as: {{ current_user.username }}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navlink" href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        </div>
    </div>
</head>
{% endblock %}
