<div class="sidebar">
    <div class="calendar-display">
        {{ month | safe }}
    </div>
    <br />
    <div class="button-display">
        <label for="datepicker">
            <input type="date" id="datepicker" value={{date}}><br />
            <button id="datepicker-submit">View Date</button>
        </label> 
        <br /><br />
        <button class="sidebar-button">View Sample Habits</button>
        <br /><br />
        <button class="sidebar-button">FAQs</button>
    </div>
</div>
