{% block content %}

<div class="content">
    <h1 class="center">{{ date }}</h1>
    <div class="tasks">
    <h4>To Be Completed</h4>
    {% for task in tasks %}
    <input type="checkbox" class="task" id="task" name="{{task.id}}">
    <label for="{{task.id}}">{{ task.name }}</label>
    {% if showDelete == true %} - <a class="delete-button" name="{{task.id}}">[DELETE]</a>{% endif %}<br />
    {% endfor %}
    
    <br />
    <div>
        <a data-target="#task-modal" role="button" class="btn" data-toggle="modal"><span class="">Add Task</span></a>
    </div>
    {% if completedTasks %}
    <hr>
    <h4>Completed</h4>
    <div class="completed-tasks">
    {% for task in completedTasks %}
    <input type="checkbox" class="task" id="task" name="{{task.id}}" checked>
    <label class="completed" for="{{task.id}}">{{ task.name }}</label><br />
    {% endfor %}
    </div>
    {% endif %}
    </div>

    <div id="task-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Create New Task</h4>
                </div>
                <div class="modal-body">
                    <label>Name</label>
                    <input type="text" name="name" id="name" class="form-control" />
                    <br />
                    <button type="button" name="submit-button" id="submit-button" class="btn">Add Task</button>
                </div>
            </div>

        </div>
        </div>
    </div>
</div>

{% endblock %}
